<!DOCTYPE html>
<html ng-app='app' dir="rtl">

<head>
    <title>Sefaria Search</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta meta charset=utf-8>
</head>

<body ng-controller='popupCtrl' onload="init()">
    <div class='container'>

        <div class='row col-md-12'>
            <div>
                <form id='searchForm' ng-submit='search()'>
                    <h3>חיפוש בספריא:</h3>
                    <div class="form-group">
                        <input type="checkbox" ng-model='isTanach'>תנ''ך</input>
                        <input type="checkbox" ng-model='isTalmud'>תלמוד</input>
                        <input type="checkbox" ng-model='isMishna'>משנה</input>
                        <input type="checkbox" ng-model='isOthers'>כל שאר הספרים</input>
                        <input type="text" id='txtToSearch' ng-model='searchText' class="form-control" placeholder="Text to search" />
                        <!-- <span  id="txtFromUser" /> -->
                    </div>
                </form>
            </div>
        </div>

        <div class='row col-md-12'>
            <button id="btnSearch" type="submit" value="Submit" form="searchForm">
                <i class="glyphicon glyphicon-search"></i> חיפוש
            </button>
            <span style="font-size: 10px">מציג {{searchResult.hits.length}} מתוך {{searchResult.total}} תוצאות</span>
        </div>

        <div class='row' ng-if="searchResult.total > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align: right">לינק</th>
                        <th style="text-align: right">טקסט</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in searchResult.hits">
                        <td>
                            <div>

                                <a ng-href="https://www.sefaria.org/{{item._source.ref}}?lang=he" style="text-align: right;">{{item._source.heRef}}</a>
                                <a ng-click="copyLinkToClipboard(item)" class='pull-right' style="font-size: 10px; align-content: left;">
                                    <span>הדבק</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: right;">
                                <span ng-bind-html="item.highlight.exact"></span>
                                <span ng-if="item.highlight.exact.length > 100">...</span>
                            </div>

                            <a class='pull-right' ng-click='copyTextToClipboard(item)' style="font-size: 10px; align-content: left;">
                                <span>הדבק</span>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="lib/sefaria.min.js"></script>

    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/popupCtrl.js"></script>
</body>

</html>